<% layout('layouts/main') %>
<h6>Dashboard</h6>
<h3>Welcome, <%= name %></h3>
<p>Here are your stories:</p>
<% if (stories && stories.length > 0) { %>
<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for (let story of stories) { %>
    <tr>
      <td>
        <a href="/stories/<%= story._id %>"><%= story.title %></a>
      </td>
      <td><%= formatDate(story.createdAt, "MMMM Do YYYY, h:mm a") %></td>
      <td><span class="dash-status"><%= story.status %></span></td>
      <td>
        <a href="/stories/edit/<%= story._id %>" class="btn btn-float">
          <i class="fas fa-edit"></i>
        </a>
        <form action="/stories/<%= story._id%>?_method=DELETE" method="post">
          <button type="submit" class="btn red">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>

    <%} %>
  </tbody>
</table>
<% } else {%>
<p>You have not created any stories</p>
<%} %>
